@import "tailwindcss";
@import "./theme.css";

* {
  box-sizing: border-box;
}

@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    min-height: 100%;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-family: var(--font-sans);
    text-rendering: optimizeLegibility;
  }
}